@import "../styles";

.results-container {
    position: fixed;
    width: 100%;
    height: 100%;
    right: 0;

    .list-container {
        position: absolute;
        overflow: auto;
        margin: 10px 0 90px 10px;
        bottom: 0;
        left: 0;
        right: 0;
        top: 0;

        .list {
            padding-right: 10px;
            
            .item {
                background: $color-item;
                width: 100%;
                margin-top: 12px;
                border-radius: 5px;

                .item-title {
                    color: $color-primary;
                    padding: 10px 10px 5px 10px;
                    font-family: $font-title;
                    line-height: 1.5;
                    font-weight: 300;
                    font-size: 18px;
                    
                }
                
                .item-description {
                    color: $color-description-text;
                    padding: 5px 10px 10px 10px;
                    font-family: $font-description;
                    line-height: 1.3;
                    font-weight: 300;
                    font-size: 16px;
                }
                
                .more-button {
                    background: $color-secondary;
                    color: $color-action;
                    display: inline-flex;
                    height: 30px;
                    width: stretch;
                    justify-content: center;
                    align-items: center;
                    cursor: pointer;
                    margin: 0 10px 10px 10px;
                    border-radius: 5px;
                    font-size: 12px;
                    font-weight: 300;
                    font-family: $font-title;
                }
            }
        }
    }
}

@media(min-width:768px) {

    .results-container {
    
        .list-container {
            margin: 40px 40px 90px 40px;

            .list {
                
                .item {
                    
                    .item-title {
                        padding: 20px 20px 5px 20px;
                        font-size: 20px;
                    }
                    
                    .item-description {
                        padding: 10px 20px 20px 20px;
                        font-size: 18px;
                    }
                    
                    .more-button {
                        height: 40px;
                        margin: 0 20px 20px 20px;
                        font-size: 14px;
                    }
                }
            }
        }
    }
}

@media(min-width:993px) {

    .results-container {
        width: 80%;
        margin: auto;
        left: 0;

        .list-container {
            // border: 2px solid #7e9ab7;
            // border-radius: 5px;
            // padding-left: 10px;

            .list {
                
                .item {
                    margin-bottom: 20px;
                }
            }
        }
    }
}
