<div class="container">

    <div class="navbar">
        <div class="search-container">
            <div class="search-input-container">
                <input #box (keyup.enter)="onEnter(box.value)" type="text" placeholder="Search Wikipedia">
            </div>
            <div class="search-button-container">
                <button (click)="onEnter(box.value)">
                        <i class="fa fa-search" aria-hidden="true"></i>
                </button>
            </div>
        </div>

        <div class="random-container">
            <button (click)="openRandomArticle()">
                random article
            </button>
        </div>
    </div>

    <!-- error handling -->
    <section *ngIf="errorMessage">
            {{errorMessage}}
    </section>

    <app-results class="results-component" [receivedApiData]="apiResult">
    </app-results>

</div>
