@import "../styles";

.container {
    height: 100vh;
    display: flex;
    flex-direction: column;

    .search-container {
        height: 40px;
        display: flex;
        flex-direction: row;

        .search-input-container {
            background: $color-primary;
            flex: 1;

            input {
                background: $color-primary;
                color: $color-input;
                height: stretch;
                width: stretch;
                border: 0px;
                margin-left: 10px;
                outline: none;
                font-size: 20px;
                font-family: sans-serif;
            }

            input::placeholder {
                color: $color-placeholder;
            }
        }

        .search-button-container {
            background: $color-primary;

            button {
                background-color: transparent;
                width: 60px;
                height: 100%;
                display: flex;
                justify-content: center;
                outline: none;
                border-width: 0px;
                font-size: 25px;

                i {
                    color: $color-action;
                }
            }
        }
    }

    .random-container {
        height: 40px;
        background: $color-secondary;
        display: flex;
        justify-content: center;
        align-items: center;

        button {
            color: $color-action;
            background-color: transparent;
            border-width: 0px;
            cursor: pointer;
            outline: none;
            font-family: sans-serif;
            font-size: 13px;

        }
    }

    .results-component {
        flex: 1;
    }
}

@media(min-width:768px) {

    .container {

        .navbar {
            display: flex;
            flex-direction: row-reverse;
    
            .search-container {
                height: 80px;
                flex: 5;

                .search-input-container {
                    background: $color-search-md;

                    input {
                        background: $color-search-md;
                        margin-left: 20px;
                        font-size: 30px
                    }

                }
                
                .search-button-container {
                    background: $color-search-md;

                    button {
                        margin-right: 20px;
                        font-size: 30px
                    }
                }
            }

            .random-container {
                flex: 2;
                height: 80px;

                button {
                    font-size: 15px;
                }
            }
        }
    }
}

@media(min-width:993px) {

    .container {
        
        .navbar {
    
            .search-container {
                
                .search-button-container {

                    button {
                        margin-right: 70px;
                    }
                }
            }

            .random-container {
                justify-content: flex-end;

                button {
                    margin-right: 20px;
                }
            }
        }   
    }
}
